* {
  box-sizing: border-box;
}

section {
    padding: 80px 0;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}



 h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 39px;
    word-spacing: 4px;
    letter-spacing: 1px;
    border: 1px;
}




h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: #ff8f00;
    font-weight: bold;
}

img {
  width: 100%;
}

.navbar {
  margin-bottom: 0;
}

.navbar .nav-brand a:link,
.navbar .nav-brand a:visited {
font-size: 40px;
color: #EF6C00;
transition: color 0.2s;
}

.navbar .nav-brand a:active,
.navbar .nav-brand a:hover {
color: #FFC400;
}
.nav.navbar-nav.navbar-right li a:link,
.nav.navbar-nav.navbar-right li a:visited {
  margin-left: 10px;
  font-size: 20px;
  color: #ffa502;
  transition: color 0.2s;
}

.nav.navbar-nav.navbar-right li a:active,
.nav.navbar-nav.navbar-right li a:hover {
 color: #FFECB3;
}

/*-------------------------*/
/* Welcome Section */
/*-------------------------*/

.welcome {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/welcome.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.xman-text {


    top: 50%;
    left: 50%;
    text-align: center;
    color: #ff8f00;
    padding-top: 150px;
}

@media only screen and (max-width: 480px) {
  .xman-text {padding-top: 0px;}
}

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    background-color: #EF6C00;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    margin: 10px;
}

.btn:active,
.btn:hover,
input[type=submit]:active,
input[type=submit]:hover {
background-color: #fad390;
color: #ff6f00;
}

/*-------------------------*/
/* Home Pages Section */
/*-------------------------*/


.home-pages .row {
  margin-bottom: 30px;
  margin-right: 15px;
}

.home-pages p {
  text-align: center;
  font-size: 25px;
  color: #ff8f00;
  font-weight: 400;
}

.home-pages img {
  transform: scale(0.8);
transition: transform 0.5s, opacity 0.5s;
margin-bottom: 25px;
}

.home-pages img:hover {
  opacity: 1;
  transform: scale(1.03);
}

.main-home {
  border-radius: 30px;
}

.home-pages div:last-child{
  text-align: center;
}

.row h2 {
  margin-bottom: 80px;

}

/*-------------------------*/
/* About Section */
/*-------------------------*/

.about {
  background-color: #f4f4f4;
}

.xman-words {
  margin: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 200%;
  text-align: center;
  color: #555;
}

.row.xman h2 {
  margin-bottom: 50px;
}


/*-------------------------*/
/* Contact Section */
/*-------------------------*/


.contact input {
  margin-bottom: 25px;
}

.input-group {
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  height: 100px;
}

.contact i {
  margin-top: 3px;
}


/*-------------------------*/
/* Footer Section */
/*-------------------------*/

.footer-section {
  background-color: #1E1E1E;
}

.footer {
  color: #fff;
}

.footer h2 {
  margin-bottom: 30px;
}

.footer a {
  color: #ff8f00;
}

.footer a:hover {
  color: #ff8f00;
  text-decoration: none;
}

.footer p {
  text-align: center;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer .s_icon a {
  background-color: #242424;
    border-radius: 50%;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.16);
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 44px;
    text-align: center;
    width: 40px;
    margin: 15px 5px;
    transition: 0.5s;
}

.footer .s_icon i {
  display: inline-block;
    font-size: inherit;
    text-rendering: auto;
}

.footer .s_icon a:hover{
  color: #ff8f00
}

.footer-bottom {
   position: absolute;
    padding: 20px 0;
    background-color: #191919;
    width: 100%;
}


.copyright {
  padding: 5px 0 2px;
  color: #999;
}
